@import'../buttons/style.scss';

$my-color: red;

.form {
    user-select: none;
    min-height: 400px;
    width: 50%;
    position: relative;
    justify-content: center;
    margin: 0 25%;
    padding-bottom: 100px;

    .btn_checkAll {
        margin-left: 100px;
        border: none;
        border-radius: 15px;
        margin-top: 10px;
    }

    .form-top {
        display: flex;
        justify-content: center;
        padding-top: 0;

        ul {
            .form-todo {
                display: flex;
                justify-content: center;
                padding-top: 30px;

                input {
                    width: 15px;
                    height: 15px;
                    margin-top: 5px;
                    position: absolute;
                    left: 100px;

                }

                button {
                    font-size: medium;
                    background-color: transparent;
                    color: red;
                    border: 1px solid red;
                    border-radius: 5px;
                    padding: 3px 6px;
                    position: absolute;
                    right: 100px;

                    &:hover {
                        background-color: red;
                        color: white;
                        border: 1px solid red;
                    }
                }
            }
        }


    }

}

@media screen and (max-width: 800px) {
    .form {
        user-select: none;
        width: 50%;
        position: relative;
        justify-content: center;
        margin: 0 25%;
        padding-bottom: 100px;

        .btn_checkAll {
            margin-left: 10px;
            border: none;
            border-radius: 15px;
            margin-top: 10px;
        }

        .form-top {
            display: flex;
            justify-content: center;
            padding-top: 0;
            padding-bottom: 140px;

            ul {
                .form-todo {

                    input {
                        width: 15px;
                        height: 15px;
                        margin-top: 5px;
                        position: absolute;
                        left: 10px;

                    }

                    button {
                        position: absolute;
                        right: 10px;
                    }
                }
            }


        }

    }
}