
$main-color: #000;
$text-color: #fff;
.header{
    width: 100%;
    min-height: 100px;
    color: $text-color;
    background-color: $main-color;

    h1{
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }
}