@import'../buttons/Button.scss';
@import '../formTodo/Todos.scss';

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    input {
        height: 50px;
        width: 400px;
        border: 2px solid black;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
        caret-color: $my-color;
        &::placeholder{
            padding-left: 5px;
        }
      
    }

    .btn-add {
        @include button()
    }

}

.btn-bot {
    margin-top: 100px;
    min-height: content;
    position: absolute;
    bottom: 10px;
    left: 20%;
}
