@import'../buttons/style.scss';
@import '../formTodo/Todos.scss';

form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;

    input {
        height: 50px;
        width: 70%;
        border: 2px solid black;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
        caret-color: $my-color;

        &::placeholder {
            padding-left: 5px;
        }

    }

    .btn-add {
        @include button()
    }

}

.btn-bot {
    margin-top: 100px;
    min-height: content;
    position: absolute;
    bottom: 10px;
    left: 20%;
}

@media screen and (max-width: 800px) {
    form {
        display: block;
        align-items: center;
        justify-content: center;
        padding-top: 50px;

        input {
            height: 50px;
            width: 100%;

            &::placeholder {
                padding-left: 5px;
            }

        }

        .btn-add {
            @include button();
            width: 90%;
            margin-top: 10px;
        }

    }

    .btn-bot {
        margin-top: 150px;
        min-height: content;
        position: absolute;
    }
}