* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images.pexels.com/photos/4275885/pexels-photo-4275885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1g");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
li {
  list-style: none;
  font-size: 1.7rem;
}

